In [8]:
import pandas as pd

In [9]:
salary_train = pd.read_csv(r"C:\Users\VIRAJ KAMAT\Desktop\Data Science\Assignments\Naive bayes\SalaryData_Train.csv")
salary_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [10]:
salary_test = pd.read_csv(r"C:\Users\VIRAJ KAMAT\Desktop\Data Science\Assignments\Naive bayes\SalaryData_Test.csv")
salary_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [11]:
salary_train.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [12]:
salary_test.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [13]:
train = salary_train.iloc[:,0:13]

train = pd.get_dummies(train)

In [15]:
finaltrain = pd.concat([train, salary_train['Salary']],axis=1)

In [16]:
test = salary_test.iloc[:,0:13]

test = pd.get_dummies(test)

In [17]:
finaltest = pd.concat([test, salary_test['Salary']],axis=1)

In [18]:
finaltrain_x = finaltrain.values[:,0:102]
finaltrain_y = finaltrain.values[:,102]

In [19]:
finaltest_x = finaltest.values[:,0:102]
finaltest_y = finaltest.values[:,102]

## Preparing a naive bayes model

In [22]:
import numpy as np
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

## Multinomial Naive Bayes

In [23]:
classifier_mb = MB()
classifier_mb.fit(finaltrain_x,finaltrain_y)
train_pred_m = classifier_mb.predict(finaltrain_x)
accuracy_train_m = np.mean(train_pred_m==finaltrain_y)

test_pred_m = classifier_mb.predict(finaltest_x)
accuracy_test_m = np.mean(test_pred_m==finaltest_y)


print('Training accuracy is:',accuracy_train_m,'\n','Testing accuracy is:',accuracy_test_m)

Training accuracy is: 0.7729186698053778
 Testing accuracy is: 0.7749667994687915

 ## Gaussian Naive Bayes

In [24]:
classifier_gb = GB()
classifier_gb.fit(finaltrain_x,finaltrain_y) 
train_pred_g = classifier_gb.predict(finaltrain_x)
accuracy_train_g = np.mean(train_pred_g==finaltrain_y)

test_pred_g = classifier_gb.predict(finaltest_x)
accuracy_test_g = np.mean(test_pred_g==finaltest_y)

print('Training accuracy is:',accuracy_train_g,'\n','Testing accuracy is:',accuracy_test_g)

Training accuracy is: 0.8031563940187659
 Testing accuracy is: 0.8029216467463479

## Gaussian Naive Bayes gives higher Accuracy : 80%